name: Build

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
          python-version: ${{ matrix.python-version }}

    - name: Install the project
      run: uv sync --dev

    - name: Run ruff
      run: uv run ruff check --output-format=github

    - name: Run ty
      run: uv run ty check --output-format=github    

    - name: Run tests
      run: uv run pytest
